.bubble {
    position: fixed;
    z-index: 10001;
    top: 50px;
    left: 50%;
    transform: translate(-50%);

    .login-page & {
        margin-left: 0;
        top: 0;
    }

    @media (min-width: 768px) {
        margin-left: 115px;
    }

    @media (max-width: 767px) {
        top: 100px;
    }

    .alert {
        min-width: 400px;
        border-radius: 0;
    }

}


