@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
@import "components/*";
@import "layout/*";
@import "helpers";


tr:hover .texts--open-in-popup {
    visibility: visible;
}

tr:hover .texts--open-in-popup ~ i {
    margin-right: 25px;
}

tr .texts--open-in-popup ~ i {
    height: 24px;
    line-height: 22px !important;
    width: 25px !important;
}

.texts--open-in-popup {
    visibility: hidden;
    line-height: 22px !important;
    height: inherit;
    cursor: pointer;
    width: 25px !important;
}

.texts--open-in-popup:hover {
    background: #e6e6e6;
}

.auto-grow-text-input--animate {
    transition: height 200ms linear;
}

textarea[rows="1"].form-control.input-xs {
    resize: none !important;
    overflow: hidden !important;
    height: 22px;
}
