.box-title-input {
    margin: -10px 0 -10px -8px;
    border: none;
}
.box-header.flex > .box-tools {
    position: static;
    margin: -8px 0 -8px 10px;
}

.btn-box-tool {
    width: 30px;
    text-align: center;
}
