.navbar-nav > .user-menu > .dropdown-menu {
    width: auto;
    white-space: nowrap;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
    min-height: 175px;
    min-width: 260px;
}
