@import "./node_modules/nprogress/nprogress";

#nprogress .bar {
    top: 50px;
    z-index: 1029;

    .skin-green & {
        background-color: #00c76c;

        .peg {
            box-shadow: 0 0 10px #00c76c, 0 0 5px #00c76c;
        }
    }
    .login-page ~ & {
        top: 0;
    }
}

