.panel-footer.panel-footer-btn-group {
    height: 54px;
}

.panel-footer.panel-footer-btn-group .loader-sm {
    min-height: 54px;
}

.panel-footer.panel-footer-btn-group .loader-sm.loading {
    margin: -10px -15px;
}
